@{
    ViewData["Title"] = "About Joel";
}

<div class="container my-5">
    <h1 class="mb-4">Get to Know Joel</h1>
    <div class="mb-3">
        <a href="https://www.qwcomedy.com/" class="btn btn-outline-primary me-2">Quick Wits Comedy</a>
        <a href="https://baconsale.com/" class="btn btn-outline-primary">Baconsale</a>
    </div>
    <a href="https://baconsale.com/">
        <img src="~/img/BaconsaleKate.jpg" class="img-fluid rounded" style="max-width: 500px;"/>
    </a>
</div>
