
@{
    ViewData["Title"] = "About Joel";
}

<div>
    <h1>Get to Know Joel</h1>
    <a href="https://www.qwcomedy.com/"> Quick Wits Comedy </a>
    <a href="https://baconsale.com/"> Baconsale</a>
    <a href="https://baconsale.com/">
        <img src="~/img/BaconsaleKate.jpg"/>
    </a>
</div>
