@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="container text-center my-5 py-4">
    <h1 class="display-4 mb-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" class="img-fluid rounded-circle" style="max-width: 300px;"/>
</div>
