@model Movie

@{
}

<table>
    <thead>
    <tr>
        <td>Title</td>
        <td>Category</td>
        <td>Year</td>
        <td>Director</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>Lent To</td>
        <td>On Plex</td>
        <td>Notes</td>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
